<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="mobi.cangol.mobile.actionbar.demo">

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme2">
        <activity
            android:name=".MainActivity"
            android:configChanges="layoutDirection|locale"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchViewActivity"
            android:configChanges="layoutDirection|locale"/>
        <activity
            android:name=".ActionModeActivity"
            android:configChanges="layoutDirection|locale"/>
        <activity
            android:name=".RefreshActivity"
            android:configChanges="layoutDirection|locale"/>
        <activity
            android:name=".TabViewActivity"
            android:configChanges="layoutDirection|locale"/>
        <activity
            android:name=".NavViewActivity"
            android:configChanges="layoutDirection|locale"/>
        <activity
            android:name=".MenuActivity"
            android:configChanges="layoutDirection|locale"/>
        <activity
            android:name=".LeftMenuActivity"
            android:configChanges="layoutDirection|locale"/>
        <activity
            android:name=".CustomViewActivity"
            android:configChanges="layoutDirection|locale"/>
        <activity
            android:name=".TitleActivity"
            android:configChanges="layoutDirection|locale"/>
      <activity
        android:name=".ThemeActivity"
        android:configChanges="layoutDirection|locale"/>
        <activity
            android:name=".TransparentActivity"
            android:configChanges="layoutDirection|locale"/>
        <activity
            android:name=".TransparentNativeActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:configChanges="layoutDirection|locale"/>
    </application>

</manifest>
